@import "tailwindcss";


/* your custom CSS here */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(16 69% 71%);
  --secondary: hsl(194 65% 62%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0 40);
  --bg: oklch(0.15 0 40);
  --bg-light: oklch(0.2 0 40);
  --text: oklch(0.96 0 40);
  --text-muted: oklch(0.76 0 40);
  --highlight: oklch(0.5 0 40);
  --border: oklch(0.4 0 40);
  --border-muted: oklch(0.3 0 40);
  --primary: oklch(0.76 0.1 40);
  --secondary: oklch(0.76 0.1 220);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(300 0% 95%);
  --bg-light: hsl(300 50% 100%);
  --text: hsl(300 0% 4%);
  --text-muted: hsl(0 0% 28%);
  --highlight: hsl(300 50% 100%);
  --border: hsl(NaN 0% 50%);
  --border-muted: hsl(340 0% 62%);
  --primary: hsl(16 65% 27%);
  --secondary: hsl(190 100% 13%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0 40);
  --bg: oklch(0.96 0 40);
  --bg-light: oklch(1 0 40);
  --text: oklch(0.15 0 40);
  --text-muted: oklch(0.4 0 40);
  --highlight: oklch(1 0 40);
  --border: oklch(0.6 0 40);
  --border-muted: oklch(0.7 0 40);
  --primary: oklch(0.4 0.1 40);
  --secondary: oklch(0.4 0.1 220);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --font-family: 'IBM Plex Mono', monospace;
}